@import "tailwindcss";

@theme {
  --color-arctic-powder: #F1F6F4;
  --color-forsythia: #FFC801;
  --color-nocturnal-expedition: #114C5A;
  --color-mystic-mint: #D9E8E2;
  --color-deep-saffron: #FF9932;
  --color-oceanic-noir: #172B36;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

:root {
  --ease-micro: cubic-bezier(0, 0, 0.2, 1);
  --ease-reflow: cubic-bezier(0.4, 0, 0.2, 1);
  --dur-micro: 180ms;
  --dur-reflow: 350ms;
}

body {
  font-family: var(--font-body);
  background-color: #172B36;
  color: #F1F6F4;
}
h1, h2, h3 { font-family: var(--font-heading); }